@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

*, *::after, *::before {
	box-sizing: border-box;
}

body {
	font-family: 'Sora';
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #fff;
	margin: 0;
	padding: 5rem;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

code {
	font-family: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
	font-size: 0.9em;
	border-radius: 5px;
	background-color: #f5f5f5;
	padding: 0.2em;
	color: #333;
}

blockquote {
	display: block;
	border-left: 5px solid #ccc;
	padding-left: 1rem;
	width: 100%;
}